/.vscode
/db
/install
/__*
form-filler*.json
query*.xml
smth.*
/src/utils
todo
/test

/__pycache__
/db
hypothesa.py
/install
query1.xml
query2.xml
query3.xml
testResults.json
'testSts copy.json'
testSts.json
todo
tokens.json
result.txt
tokens.json
tokens.json
chechDBLastUpdate.py
*__pycache__*

/tests