/*
	Системные
*/
body{
	font-size:16px; 
	font-family:'Open Sans',arial,sans-serif;
}
.mr{
	margin-top: 25px;
	margin-bottom: 25px;
}
.mrb{
	margin-bottom: 25px;
}
.content{
	margin-top: 50px;
	margin-bottom: 60px;
}
.btn-ds,.btn-ds:focus {
    background: #0F68AA;
    color: #fff;
}
.btn-ds:hover{color: #FFD604;}

.ye-line {
	width: 100%;
	background: #FFD604;
	height: 1px;
	margin: 30px 0;
}
.docs .ye-line {
	margin: 20px 0;
}
.right {
    float: right;
}
.inline-block {
    display: inline-block;
}
h1 {
    color: #0F68AA;
    font-size: 23px;
}





/*
	Горизонтальное меню
*/
	.navbar-ds-aspect{
		background: #0F68AA;
		margin-bottom: 30px;
	}
	.navbar-ds-aspect .nav > li > a, .navbar-ds-aspect .navbar-header a span{
		color: #fff;
	}
	.navbar-ds-aspect .nav > li > a:focus, .nav > li > a:hover{
		background: #0F68AA;
		color: #fff;
	}
	.navbar-ds-aspect .nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
		background-color: #337ab7;
	}
/*	.navbar-ds-aspect .navbar-nav .open .dropdown-menu > li > a,.navbar-ds-aspect  .navbar-nav .open .dropdown-menu > li > a{
		background: #fff;
		color: yellow;
	}*/
	/*
		Хернюшка справа (кнопка для открывания меншки)
	*/
		.navbar-ds-aspect .navbar-toggle{
			border: 1px solid #fff;
		}
		.navbar-ds-aspect .navbar-toggle .icon-bar{
			background: #fff;
		}
/*Форма аворизаии*/
	.AuthFormDS{
		text-align: center;
		padding: 20px;
		background: #00A6FF;
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
		border-radius: 8px;
		color: #fff;
		/*margin-top: 50%;*/
	}

	/*кнопка авторизации*/
	.btn-authDS{
	    border-color: #135e89;
	    color: #0F68AA;
	    border-radius: 5px;
	}
	.btn-authDS:hover {
	    background: #FFD604;
	    color: #0F68AA;
	}
	.AuthFormDS h1{
		color: #fff;
	}



/*Таблица корзины*/
	table.table-firmDS > thead > tr > th{

		vertical-align: top;
		text-align: left;
		padding: 8px 10px;
		text-align: center;


		background: #0051a6;
		/*background: #00A6FF;*/
		vertical-align: middle;
		color: #FFF;
		/*text-shadow: 1px 1px 1px #0A3B6F;*/
		line-height: 1.1em;
		/*border-radius: 5px 5px 0px 0px;*/
		font-weight: 500;
		border-bottom: 1px solid #046B8E;
		white-space: nowrap;
	}
	table.table-firmDS > tbody > tr > td {
		font-size: 14px;
	}



/*Документы*/
	.docs > .doc-item > i.fa{
		font-size: 30px;
		/*line-height: 50px;*/
		color: #00A6FF;
		margin-right: 10px;
	}



/*Адаптивный футер.*/
@media (min-width: 768px){
	footer {
		z-index: 999999999;
		background: #fff;
		position: fixed;
		bottom: 0;
		height: 30px;
		width: 100%;
		line-height: 30px;
	}
	footer hr{
		margin: 0;
	}
	footer p{
		line-height: 30px;
	}
}
@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

@media(max-width: 768px){
	.xs-mrb{
		margin-bottom: 10px;
	}
	.xs-btn-full{
		width: 100%;
		display: block;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
		background-color: #0F68AA;
		color: #ffd604;
	}
}


hr{border-top: 2px solid #eee;}



.auto-suggest {
    background:#fff url("bg_auto.gif") repeat-x;
    /*border:1px solid #7C7C7C;*/
    border-top:none;
    position:absolute;
    margin-top:-2px;
    margin-left:5px;
    padding:0;
    display:none;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    z-index: 1;
    text-align: left;
    z-index: 999999;
}
.auto-suggest a {
    font-size:14px;
    text-decoration:none;
    display:block;
    padding:3px;
    color:#2E2E2E;

}
.auto-suggest a:hover {
    background-color:#B1B1B1;
    color:#FFFFFF;
}
.auto-suggest a.selected {
    background-color:#CA2315;
    color:#FFFFFF;
}



.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}


/**
* UPD 8.09.2016 aspect
**/
.margin010{margin: 0 10px;}
@media(max-width:767px){.ds-quick-status{width:100%; margin: 10px auto;}}
.datepicker{z-index: 9999;}



/**
* UPD 14.09.2017 aspect
* M.G. CEO
**/
.btnBoxesAdd{
	font-weight: bold;
	text-decoration: dashed;
	margin-left: 10px;
	
}

/**
* UPD 15.09 aspect
* Подсказки
**/
.autocomplete-suggestions{
	background: #fff;
	border: 1px solid #ccc;
}
.autocomplete-suggestion{cursor: pointer;
	padding: 3px 10px;}
.autocomplete-suggestion:hover{
	background: red;
	color: #fff;
}
.autocomplete-selected{
	background: red;
	color: #fff;
}

.basketError{
	display:none;
	position: absolute;
	top: 0;
	width: 200px;
	left: 0;
	background: #f2dede;
	z-index: 1;
	padding: 5px;
}
td.danger:hover > .basketError{
	display: block;
}

input[type="text"],input[type="password"],input[type="number"]{
	border: none;
	outline: none;
	outline-offset: 0;
	-webkit-box-shadow: none;
	border-color: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}
input[type="text"]:focus,input[type="password"]:focus {
	outline: none;
	-webkit-box-shadow: none;
	border-color: none;
	border-bottom: 1px solid #0F68AA;
}
select.form-control{
	border: none;
	outline: none;
	outline-offset: 0;
	-webkit-box-shadow: none;
	border-color: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}
select.form-control:focus{
	outline: none;
	-webkit-box-shadow: none;
	border-color: none;
	border-bottom: 1px solid #0F68AA;
}
.input-group-addon{
	color: #333346;
	text-align: center;
	background: none;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
}